@page
@model BookSmart.Pages.TeacherLayout.CreateBookListModel
@{
    ViewData["Title"] = "CreateBooklist";
}

<h1>Create A Booklist</h1>
<br />
<br />

<a asp-page="/Books/CreateBook">Create A New Book</a>
<br />
<br />

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="hidden" asp-for="TID" />
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Filter" />
        <a asp-page="/TeacherLayout/CreateBookList" asp-route-cid="@Model.Class.ClassId" asp-route-tid="@Model.Teacher.Initials">Back to Full List</a>
    </p>
</form>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th> Book Id </th>
                <th> Title </th>
                <th> Author </th>
                <th> Year </th>
                <th> Subject </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td> @item.BookId </td>
                        <td> @item.Title </td>
                        <td> @item.Author </td>
                        <td> @item.Year </td>
                        <td> @item.Subject.Name </td>
                        <td>
                            <input name="ChosenBookIds" type="checkbox" value="@item.BookId" />
                        </td>
                    </tr>
                }
            }
    </table>
    <div class="form-group">
        <input type="hidden" asp-for="Class.ClassId" />
        <input type="hidden" asp-for="Teacher.Initials" />
        <input type="submit" value="Create BookList" class="btn btn-danger" />
    </div>
</form>
