@page
@model BookSmart.Pages.TeacherLayout.TeacherSiteModel
@{
    ViewData["Title"] = "Site";
    Layout = "../Pages/Shared/TeacherLayout";
}

<h1 style="color:black"> Info on @Model.Teacher.Initials </h1>

<body>
    <p>
        <a asp-page="../Books/CreateBook" asp-route-LoginDetails="@Model.Teacher.Initials">Create A New Book</a>
</p>
    <div class="container" style="width:100%";>
        <table class="table" id="sortTable">
            <thead>
                <tr>
                    <th> Classes That Needs A Booklist </th>
                    <th class="th-g"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model.Teacher.ClassTeachers)
                    {
                        @if (item.HasBookList == false)
                        {
                            <tr>
                                <td>  @item.Class.Name</td>
                                <td>
                                    <p>
                                        <a asp-page="/TeacherLayout/CreateBooklist" class="btn btn-crud float-lg-end mr-1" role="button" 
                                        asp-route-cid="@item.ClassId" asp-route-tid="@item.Initials">Create Booklist</a>
                                    </p>
                                </td>
                            </tr>
                        }
                    }
                }
                </tbody>
        </table>
        <table class="table" id="sortTable">
            <thead>
                <tr>
                    <th> Classes With A Booklist - Sent To Polyteknisk </th>
                    <th class="th-g"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model.Teacher.ClassTeachers)
                    {
                        @if (item.HasBookList == true)
                        {
                            <tr>
                                <td>  @item.Class.Name</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <p>Want To Edit Your Booklist? Please Contact: <a href="#">poly@polyteknisk.dk</a></p>
</body>