@page
@model BookSmart.Pages.SubjectTeachers.GetSubjectTeachersModel
@{
    ViewData["Title"] = "GetSubjects";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
</script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
</script>


<h3 style="color:black"> List of SubjectTeachers</h3>


<body>
    <div class="container" style="width:100%" ;>
        <table class="table" id="sortTable">
            <thead>
                <tr>
                    <th> Name  </th>
                    <th> Initials </th>
                    <th> Subject  </th>
                    <th> @Model.SearchCriteria  </th>
                    <th class="th-g"></th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    @foreach (var item in Model.Teacher.SubjectTeachers)
                    {
                        <tr>
                            <td>  @item.InitialsNavigation.Name </td>
                            <td>  @item.InitialsNavigation.Initials </td>
                            <td>  @item.Subject.Name </td>
                            <td>
                                <p>
                                    <a asp-page="/SubjectTeachers/GetSubjectTeachers" class="btn btn-crud float-lg-end " role="button" asp-route-id="@item.Initials">Teacher Info </a>
                                    <a asp-page="/SubjectTeachers/UpdateSubjectTeachers" class="btn btn-crud float-lg-end mr-1" role="button" asp-route-id="@item.Initials"> Update </a>
                                    <a asp-page="/SubjectTeachers/DeleteTeacherSubjectTeachers" class="btn btn-crud float-lg-end mr-1" role="button" asp-route-id="@item.Initials">Delete </a>
                                </p>
                            </td>
                        </tr>
                    }
                }
        </table>
    </div>
    <script>
        $('#sortTable').dataTable({
            "oSearch": { "sSearch":  }
        });
    </script>
</body>
<p>
    <a asp-page="/Teachers/CreateTeacher" class="btn btn-crud float-lg-start">Create New Teacher</a>
</p>

