@page
@model BookSmart.Pages.Classes.GetClassesModel
@{
    ViewData["Title"] = "GetClasses";
    Layout = "../Pages/Shared/CoordinatorLayout";
}

<h1 style="color:black">List of Classes</h1>
<p>
    <a asp-page="/Classes/CreateClass">Create A New Class</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/Classes/GetClasses">Back to Full List</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th> Class id </th>
            <th> Name </th>
            <th> Education </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Classes)
            {
                <tr>
                    <td> @item.ClassId </td>
                    <td> @item.Name </td>
                    <td> @item.Education </td>
                    <td>
                        <p>
                            <a asp-page="/Classes/UpdateClass" asp-route-cid="@item.ClassId"> Update </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Classes/DeleteClasses" asp-route-cid="@item.ClassId">Delete </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Classes/ClassInfo" class="btn btn-crud float-lg-end mr-1" role="button" 
                            asp-route-cid="@item.ClassId">Class Info </a>
                        </p>
                    </td>
                </tr>
            }
        }
</table>