@page
@model BookSmart.Pages.Classes.UpdateClassModel
@{
}
<form method="post">
    <div class="overskrift form-group">
        <input asp-for="@Model.Class.ClassId" class="form-control" type="hidden" />
        <span asp-validation-for="@Model.Class.ClassId" class="text-danger"></span>
    </div>
    <div class="overskrift form-group">
        <label asp-for="@Model.Class.Name" class="control-label"></label>
        <input asp-for="@Model.Class.Name" class="form-control" />
        <span asp-validation-for="@Model.Class.Name" class="text-danger"></span>
    </div>
    <div class="overskrift form-group">
        <label asp-for="@Model.Class.Education" class="control-label"></label>
        <input asp-for="@Model.Class.Education" class="form-control" />
        <span asp-validation-for="@Model.Class.Education" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
    <label class="custom-control-label"><strong>Choose Classes</strong></label><br />
    <div>
        @foreach (var b in Model.Teachers)
        {
            Model.Checker = 0;
            @foreach (var c in Model.Class.ClassTeachers)
            {
                @if (b.Initials == c.Initials)
                {
                    Model.Checker++;
                }
            }
            @if (Model.Checker == 1)
            {
                <input name="ChosenTeacherIds" type="checkbox" value="@b.Initials" checked="" /> @b.Name
                <br />
            }
            else
            {
                <input name="ChosenTeacherIds" type="checkbox" value="@b.Initials" /> @b.Name
                <br />
            }
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
    <div>
    <a href="javascript:history.back()" class="overskrift btn btn-secondary mt-5">Back</a>
</div>
</form>
