@page
@model BookSmart.Pages.Subjects.UpdateSubjectModel
@{
}
<form method="post">
    <div class="overskrift form-group">
        <label asp-for="@Model.Subject.SubjectId" class="control-label"></label>
        <input asp-for="@Model.Subject.SubjectId" class="form-control" />
        <span asp-validation-for="@Model.Subject.SubjectId" class="text-danger"></span>
    </div>
    <div class="overskrift form-group">
        <label asp-for="@Model.Subject.Name" class="control-label"></label>
        <input asp-for="@Model.Subject.Name" class="form-control" />
        <span asp-validation-for="@Model.Subject.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>
