@page
@model BookSmart.Pages.Books.GetBooksModel
@{
    ViewData["Title"] = "GetBooks";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
</script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
</script>


<h3 style="color:black"> List of Books</h3>


<body>
    <div class="container" style="width:100%" ;>
        <table class="table" id="sortTable">
    <thead>
        <tr>
            <th> Book Id  </th>
            <th> Title </th>
            <th> Author  </th>
            <th> Year  </th>
            <th> Subject  </th>
            <th class="th-g"></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>  @item.BookId </td>
                    <td>  @item.Title </td>
                    <td>  @item.Author </td>
                    <td>  @item.Year </td>
                    <td>  @item.Subject.Name </td>

                    <td>
                        <p>
                            <a asp-page="/Books/UpdateBook" asp-route-bid="@item.BookId"> Update </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Books/DeleteBook" asp-route-bid="@item.BookId">Delete </a>
                       </p>
                    </td>
                </tr>
            }
        }
        </table>
    </div>
    <script>
        $('#sortTable').DataTable();
    </script>
</body>
<p>
    <a asp-page="/Books/CreateBook" class="btn btn-crud float-lg-start">Create New Book</a>
</p>

