@page
@model BookSmart.Pages.Books.GetBooksModel
@{
    ViewData["Title"] = "GetBooks";
}

<h3 style="color:red"> List of Books</h3>
<p>
    <a asp-page="/Books/CreateBook">Create A New Book</a>
</p>
<form>
    <p>
        Search By Title: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/Books/GetBooks">Back to Full List </a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th> Book Id </th>
            <th> Title </th>
            <th> Author </th>
            <th> Year </th>
            <th> Subject </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td> @item.BookId </td>
                    <td> @item.Title </td>
                    <td> @item.Author </td>
                    <td> @item.Year </td>
                    <td> @item.Subject.Name </td>
                    <td>
                        <p>
                            <a asp-page="/Books/UpdateBook" asp-route-bid="@item.BookId"> Update </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Books/DeleteBook" asp-route-bid="@item.BookId">Delete </a>
                       </p>
                    </td>
                </tr>
            }
        }
</table>

