@page
@model BookSmart.Pages.Teachers.CreateTeacherModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Teacher</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <strong><label asp-for="@Model.Teacher.Initials" class="control-label"></label></strong>
                <input asp-for="@Model.Teacher.Initials" class="form-control" />
                <span asp-validation-for="@Model.Teacher.Initials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="@Model.Teacher.Name" class="control-label"></label></strong>
                <input asp-for="@Model.Teacher.Name" class="form-control" />
                <span asp-validation-for="@Model.Teacher.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="@Model.Teacher.Mail" class="control-label"></label></strong>
                <input asp-for="@Model.Teacher.Mail" class="form-control" />
                <span asp-validation-for="@Model.Teacher.Mail" class="text-danger"></span>
            </div>
            <br/>
            <label class="custom-control-label"><strong>Choose Subjects</strong></label><br />
            <div>
                @foreach(var s in Model.Subjects)
                {
                    <input name="ChosenSubjectIds" type="checkbox" value="@s.SubjectId" checked="@(s.SubjectId == Model.InitialCheck)" />
                    @s.Name
                    <br />
                }
            </div>
            <br />

            <label class="custom-control-label"><strong>Choose Classes</strong></label><br />
            <div>
                @foreach (var c in Model.Classes)
                {
                    <input name="ChosenClassIds" type="checkbox" value="@c.ClassId " checked="@(c.ClassId == Model.InitialCheck)" />
                    @c.Name
                    <br />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

