@page
@model BookSmart.Pages.Teachers.GetTeachersModel
@{
    ViewData["Title"] = "GetSubjects";
}

<h3 style="color:black"> List of Subjects</h3>

<body>
    <div class="container" style="width:110%" ;>
        <table class="table" id="sortTable">
            <thead>
                <tr>
                    <th> Initials </th>
                    <th> Name  </th>
                    <th> Mail </th>
                    <th> Classes </th>
                    <th class="th-g"> </th>

                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    @foreach (var item in Model.Teachers)
                    {
                        <tr>
                            <td>  @item.Initials </td>
                            <td>  @item.Name </td>
                            <td>  @item.Mail </td>
                            
                            <td>
                                <p>
                                    <a asp-page="/Teachers/UpdateTeacher" class="btn btn-crud float-lg-end" role="button" asp-route-sid="@item.Initials"> Update </a>
                                    <a asp-page="/Teachers/DeleteTeacher" class="btn btn-crud float-lg-end mr-1 " role="button" asp-route-sid="@item.Initials">Delete </a>
                                </p>
                            </td>

                        </tr>
                    }
                }
        </table>
    </div>
    <script>
        $('#sortTable').DataTable();
    </script>
</body>
<p>

    <a asp-page="/Teachers/CreateTeacher" class="btn btn-crud float-lg-start" role="button">Create New Teacher</a>
</p>
