@page
@model BookSmart.Pages.Teachers.GetTeachersModel
@{
    ViewData["Title"] = "GetTeachers";
    Layout = "../Pages/Shared/CoordinatorLayout";
}

<h1> List of Teacher </h1>
<p>
    <a asp-page="/Teachers/CreateTeacher"> Create A New Teacher </a>
</p>
<form>
    <p>
        <strong>Search:</strong> <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" style="font-weight: bold"/>
        <a asp-page="/Teachers/GetTeachers"> Back to Full List </a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th> Initials </th>
            <th> Name </th>
            <th> Mail </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Teachers)
            {
                <tr>
                    <td> @item.Initials </td>
                    <td> @item.Name </td>
                    <td> @item.Mail </td>
                    <td>
                        <p>
                            <a asp-page="/Teachers/UpdateTeacher" asp-route-tid="@item.Initials"> Update </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Teachers/DeleteTeacher" asp-route-tid="@item.Initials"> Delete </a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Teachers/TeacherInfo" class="btn btn-crud float-lg-end mr-1" role="button" 
                            asp-route-tid="@item.Initials"> Teacher Info </a>
                        </p>
                    </td>
                </tr>
            }
        }
</table>
<div>
    <a asp-page="../CoordinatorLayout/CoordinatorLogin" class="btn btn-crud">Back</a>
</div>